
#wrapper {

    margin-left: 50px;

    grid-template-areas: "t"
                         "m";

}


#text-wrapper {

    display: inline;
    width: 500px;
    float: right;

}


#side-wrapper {

    float: left;
    display: inline;

    width: 125px;

}


.main-image {

    width: 100%;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    vertical-align: top;

    box-shadow: 0pt 20px 50px rgba(0,0,0,0.15);

    -webkit-transition: all 0.15s ease-in-out; /* Safari */
    transition: all 0.15s ease-in-out;

} .main-image:hover {

    transform: scale(1.02);

} .main-image:active {

    transform: none;

}


#thirds-wrapper {

    display: grid;
    grid-template-areas: "a b c";
    grid-gap: 25px;
    grid-row-gap: 0px;

    margin-bottom: 0px;
    padding-bottom: 0px;

} #thirds-wrapper #img-1 {

    grid-area: a;

} #thirds-wrapper #img-2 {

    grid-area: b;

} #thirds-wrapper #img-3 {

    grid-area: c;

}


h1 {

    margin-bottom: 25px;

}


h2 {

    margin-bottom: -25px;

}


p {

    margin-top: 50px;
    margin-bottom: 0px;

}


.call-to-action {

    width: 100%;
    margin-top: 10px;
    text-align: center;

}
