
html {

    font-family: "Roboto Mono", monospace;

}


body {

    background-image: url("../assets/patterns/bg-pattern.png");
	background-repeat: repeat;

    text-align: center;

    padding: none;

}


h1 {

    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: #484848;
    line-height: 0px;
    letter-spacing: 1.5pt;

    padding-bottom: 50px;

}


#centering-container {

    display: inline-block;

    padding: none;
    margin: none;
    line-height: none;

}


#wrapper {

    width: 1200px;
    padding: 50px;

    display: grid;
    grid-template-areas: "main main main main   resume resume"
                         "main main main main   work   work  "
                         "apps apps apps design design design";
    grid-template-rows: 2fr 3fr 5fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px;

    text-align: left;

}


.card {

    padding: 50px;
    border-radius: 8px;

    background-color: #FFFFFF;

	box-shadow: 0pt 20px 50px rgba(0,0,0,0.15);

}


#main-card {
    grid-area: main;
}


#resume-card {
    grid-area: resume;
}


#work-card {
    grid-area: work;
}


#apps-card {
    grid-area: apps;
}


#design-card {
    grid-area: design;
}
