
/* TEXT & BODY */


body {

	background-image: url("../images/main-page/bg-pattern.png");
	background-repeat: repeat;
	text-align: center;

}


h1 {

	letter-spacing: 1.5pt;
	font-size: 27pt;
	color: #484848;

	font-weight: bold;

	padding-bottom: 18.75pt;

}


h2 {

	letter-spacing: 1.5pt;
	font-size: 15pt;
	color: #484848;

	font-weight: bold;

}


p {

	font-size: 11pt;
	color: #959595;
	line-height: 20pt;

	font-family: 'Roboto Mono', monospace;

	padding-bottom: 18.75pt;

}


#main-header {

	background-image: url(../images/main-page/highlight.svg);
	background-repeat: no-repeat;
	background-size: 100%;

}


.card-header {

	margin-bottom: 0pt;

}


.white-text {

	color: #FFFFFF;
	margin-bottom: 0pt;

}




/* BUTTONS */


input {

	background-color: #55C0FF;
	color: #FFFFFF;

	font-family: 'Roboto Mono', monospace;
	font-size: 14pt;
	font-weight: bold;

	border-style: none;

	box-shadow: 0pt 8pt 12pt rgba(0,160,255, 0.3);

	height: 37.5pt;
	border-radius: 3pt;

	padding-left: 18.75pt;
	padding-right: 18.75pt;

	margin-right: 9.75pt;
	margin-bottom: 9.75pt;

	transition: all 0.15s ease-out;

}


input:hover {

	box-shadow: 0pt 12pt 16pt rgba(0,160,255, 0.3);
	transform: scale(1.09);

}


input:active {

	transform: scale(0.95);
	box-shadow: none;

}


input:focus {

	outline: 0;

}


#github-button {

	width: 137.5pt;
	margin-bottom: 9.75pt;

	background-color: #55C0FF;
	background-image: url(../icons/github.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 120%;

	box-shadow: 0pt 8pt 12pt rgba(0,160,255, 0.3);

	text-align: left;

}


#github-button:hover {

	box-shadow: 0pt 12pt 16pt rgba(0,160,255, 0.3);

}


#github-button:active {

	box-shadow: none;

}


#behance-button {

	width: 137.5pt;

	background-color: #55C0FF;
	background-image: url(../icons/behance.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 120%;

	box-shadow: 0pt 8pt 12pt rgba(0,160,255, 0.3);

	text-align: left;

	margin-bottom: 0pt;

}


#behance-button:hover {

	box-shadow: 0pt 12pt 16pt rgba(0,160,255, 0.3);

}


#behance-button:active {

	box-shadow: none;

}


#resume-button {

	width: 137.5pt;
	text-align: left;
	margin-bottom: 0pt;

}


#linkedin-button {

	background: url("../icons/linkedin.svg");
	background-size: 100%;
	background-position: center;

}


#twitter-button {

	background: url("../icons/twitter.svg");
	background-size: 100%;
	background-position: center;

}


.expand-button {

	text-align: center;
	height: 20pt;

	padding-left: 20pt;
	padding-right: 20pt;
	padding-bottom: 0pt;
	margin-bottom: 2pt;

	box-shadow: none;

	border-radius: 100pt;

}


.expand-button:hover {

	box-shadow: none;

}




/* PAGE FORMATTING */


.centering-div {

	display: inline-block;

}


#wrapper {

	display: flex;

	width: 660pt;
	margin: 18.75pt;

}


#sidebar-wrapper {

	display: flex;
	flex-direction: column;

	width: 250pt;

}


#category-wrapper {

	display: flex;
	flex-direction: row;

	width: 660pt;

}


.card {

	background-color: #FFFFFF;
	border-radius: 6pt;

	font-family: 'Rubik', sans-serif;
	text-align: left;

	box-shadow: 0pt 15pt 37.5pt rgba(0,0,0,0.15);

	padding: 37.5pt;
	padding-top: 18.75pt;
	margin: 18.75pt;

}


#profile-card {

	flex: 1;
	height: 360pt;

}


#m-work-card {

	flex: 1.2;
	height: 10pt;
	padding-top: 18.75pt;

}


#resume-card {

	flex: 0.8;
	height: 10pt;

}


#software-card {

	margin-top: 0pt;
	display: flex;
	flex-direction: column;

	flex: 1;

}


.app-tile {

	flex: 1;

	background-color: #FFFFFF;
	border-radius: 6pt;

	font-family: 'Rubik', sans-serif;
	text-align: left;

	box-shadow: 0pt 8pt 12pt rgba(0,0,0,0.15);

	padding: 18.75pt;
	padding-top: 8pt;

	margin-top: 18.75pt;

}


#nikhedonia-tile {

	background-image: url(../images/main-page/ipad.jpg);
	background-size: 120%;

	color: #FFFFFF;

}


#rps-rush-tile {

	background-image: url(../images/main-page/fist.jpg);
	background-size: 150%;

	color: #FFFFFF;

}


#rpg-dice-tile {

	background-image: url(../images/main-page/tabletop.jpg);
	background-size: 150%;

	color: #FFFFFF;

}


#design-card {

	margin-top: 0pt;
	display: flex;
	flex-direction: column;

	flex: 1;

}


form {

	display: inline;

}
